@font-face {
  src:url('Recoleta-SemiBold.woff2') format('woff2'),
  url('Recoleta-SemiBold.woff') format('woff');
  font-family: 'Recoleta';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src:url("../fonts/NotoSans.woff2") format('woff2'),
  url("../fonts/NotoSans.woff") format('woff');
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src:url("../fonts/NotoSans-Bold.woff2") format('woff2'),
      url("../fonts/NotoSans-Bold.woff") format('woff');
      font-family: 'Noto Sans';
  font-weight: bold;
  font-style: normal;
}