.site-header{
  background-color: $main-darkgreen-color;
  padding: 20px 0;
}

.site-header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__img{

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}
.log-in__link{
  color: $main-white-color;
  line-height: 22px;
  margin-right: 24px;
  text-decoration: none;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}

.log-in__contact-link{
  color: $main-white-color;
  line-height: 22px;
  margin-right: 24px;
  text-decoration: none;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}


.log-in__start-link{
  color: $main-white-color;
  background-color:$main-button-color;
  line-height: 22px;
  margin-right: 24px;
  padding: 15px 25px;
  border-radius: 160px;
  text-decoration: none;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}
